<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.swu.jk.mapper.ExprotMapper">
	
	<resultMap type="com.swu.jk.domain.Export" id="exportRM">
		<id property="id" column="EXPORT_ID"/>
		<result property="contractIds" column="CONTRACT_IDS"/>
		<result property="customerContract" column="CUSTOMER_CONTRACT"/>
		
		<result property="epnum" column="EPNUM"/>
		<result property="extnum" column="EXTNUM"/>
		
		<result property="inputDate" column="INPUT_DATE"/>
		<result property="consignee" column="CONSIGNEE"/>
		<result property="lcno" column="LCNO"/>
		<result property="marks" column="MARKS"/>
		<result property="shipmentPort" column="SHIPMENT_PORT"/>
		<result property="destinationPort" column="DESTINATION_PORT"/>
		<result property="transportMode" column="TRANSPORT_MODE"/>
		<result property="priceCondition" column="PRICE_CONDITION"/>
		<result property="remark" column="REMARK"/>
		<result property="boxNum" column="BOX_NUM"/>
		<result property="cnumber" column="CNUMBER"/>
		<result property="packingUnit" column="PACKING_UNIT"/>
		<result property="grossWeight" column="GROSS_WEIGHT"/>
		<result property="netWeight" column="NET_WEIGHT"/>
		<result property="sizeLength" column="SIZE_LENGTH"/>
		<result property="sizeWidth" column="SIZE_WIDTH"/>
		<result property="sizeHeight" column="SIZE_HEIGHT"/>
		<result property="csize" column="CSIZE"/>
		<result property="amount" column="AMOUNT"/>
		<result property="noTax" column="NO_TAX"/>
		<result property="tax" column="TAX"/>
		<result property="costPrice" column="COST_PRICE"/>
		<result property="costTax" column="COST_TAX"/>
		<result property="state" column="STATE"/>
		<result property="createBy" column="CREATE_BY"/>
		<result property="createDept" column="CREATE_DEPT"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>
	
	
	<resultMap type="com.swu.jk.vo.ExportVO" id="exportVORM" extends="exportRM">
		<collection property="exportProducts" ofType="com.swu.jk.vo.ExportProductVO">
			<id property="id" column="EXPORT_PRODUCT_ID"/>
			<result property="productNo" column="PRODUCT_NO"/>
			<result property="productImage" column="PRODUCT_IMAGE"/>
			<result property="productDesc" column="PRODUCT_DESC"/>
			<result property="cnumber" column="CNUMBER"/>
			<result property="outNumber" column="OUT_NUMBER"/>
			<result property="loadingRate" column="LOADING_RATE"/>
			<result property="boxNum" column="BOX_NUM"/>
			<result property="packingUnit" column="PACKING_UNIT"/>
			<result property="price" column="PRICE"/>
			<result property="amount" column="AMOUNT"/>
			<result property="finished" column="FINISHED"/>
			<result property="exts" column="EXTS"/>
			<result property="orderNo" column="ORDER_NO"/>
		
			<association property="factory" javaType="com.swu.jk.domain.Factory">
				<id property="id" column="FACTORY_ID"/>
				<result property="fullName" column="FULL_NAME"/>
				<result property="factoryName" column="FACTORY_NAME"/>
				<result property="contacts" column="CONTACTS"/>
			</association>
			
			<collection property="extEproducts" ofType="com.swu.jk.vo.ExtEproductVO">
				<id property="id" column="EXT_EPRODUCT_ID"/>
				<result property="ctype" column="CTYPE"/>
				<result property="productNo" column="EXT_PRODUCT_NO"/>
				<result property="productImage" column="EXT_PRODUCT_IMAGE"/>
				<result property="productDesc" column="EXT_PRODUCT_DESC"/>
				<result property="cnumber" column="EXT_CNUMBER"/>
				<result property="packingUnit" column="EXT_PACKING_UNIT"/>
				<result property="price" column="EXT_PRICE"/>
				<result property="amount" column="EXT_AMOUNT"/>
				<result property="productRequest" column="PRODUCT_REQUEST"/>
				<result property="orderNo" column="EXT_ORDER_NO"/>
				
				<association property="factory" javaType="com.swu.jk.domain.Factory">
					<id property="id" column="FACTORY_ID"/>
					<result property="fullName" column="FULL_NAME"/>
					<result property="factoryName" column="FACTORY_NAME"/>
					<result property="contacts" column="CONTACTS"/>
				</association>
			</collection>
		</collection>
	</resultMap>
	
	<select id="view" parameterType="String" resultMap="exportVORM">
		select * 
		from export_c e 
		left join export_product_c ep on ep.export_id=e.export_id
		left join ext_eproduct_c ext on ep.export_product_id=ext.export_product_id
		where e.export_id=#{id}
	</select>
	
	
	<insert id="insert" parameterType="com.swu.jk.domain.Export">
		insert into export_c
			(EXPORT_ID, CONTRACT_IDS, CUSTOMER_CONTRACT, INPUT_DATE, CONSIGNEE, LCNO, MARKS, SHIPMENT_PORT, DESTINATION_PORT,
			TRANSPORT_MODE, PRICE_CONDITION, REMARK, BOX_NUM, CNUMBER, PACKING_UNIT, GROSS_WEIGHT, NET_WEIGHT, SIZE_LENGTH,
			SIZE_WIDTH, SIZE_HEIGHT, CSIZE, AMOUNT, NO_TAX, TAX, COST_PRICE, COST_TAX, STATE, CREATE_BY, CREATE_DEPT, CREATE_TIME)
		values(
			#{id},
			#{contractIds,jdbcType=VARCHAR},
			#{customerContract,jdbcType=VARCHAR},
			#{inputDate,jdbcType=TIMESTAMP},
			#{consignee,jdbcType=VARCHAR},
			#{lcno,jdbcType=VARCHAR},
			#{marks,jdbcType=VARCHAR},
			#{shipmentPort,jdbcType=VARCHAR},
			#{destinationPort,jdbcType=VARCHAR},
			#{transportMode,jdbcType=VARCHAR},
			#{priceCondition,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			#{boxNum,jdbcType=INTEGER},
			#{cnumber,jdbcType=INTEGER},
			#{packingUnit,jdbcType=VARCHAR},
			#{grossWeight,jdbcType=DOUBLE},
			#{netWeight,jdbcType=DOUBLE},
			#{sizeLength,jdbcType=DOUBLE},
			#{sizeWidth,jdbcType=DOUBLE},
			#{sizeHeight,jdbcType=DOUBLE},
			#{csize,jdbcType=DOUBLE},
			#{amount,jdbcType=DOUBLE},
			#{noTax,jdbcType=DOUBLE},
			#{tax,jdbcType=DOUBLE},
			#{costPrice,jdbcType=DOUBLE},
			#{costTax,jdbcType=DOUBLE},
			#{state,jdbcType=INTEGER},
			#{createBy,jdbcType=VARCHAR},
			#{createDept,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<update id="update" parameterType="com.swu.jk.domain.Export">
		update export_c
		<set>
			<if test=""></if>
		</set>
		where export_id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from export_c
		where export_id in 
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<delete id="deleteById" parameterType="String">
		delete from export_c
		where export_id=#{id}
	</delete>
	
	
	<select id="get" parameterType="String" resultMap="exportRM">
		select * 
		from export_c
		where export_id=#{id}
	</select>
	
	<select id="find" parameterType="Map" resultMap="exportRM">
		select 
			(select count(*) from export_product_c where export_id=e.export_id) as epnum,
			(select count(*) from ext_eproduct_c where export_product_id in 
				(select export_product_id from export_product_c where export_id=e.export_id)
			) as extnum,
			EXPORT_ID, CUSTOMER_CONTRACT, LCNO, INPUT_DATE, SHIPMENT_PORT, TRANSPORT_MODE,
			PRICE_CONDITION, CONSIGNEE, STATE
		from export_c e
	</select>
	
</mapper>