<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.swu.jk.mapper.FactoryMapper">

	<resultMap type="com.swu.jk.domain.Factory" id="factoryRM">
		<!-- 主键 -->
		<id property="id" column="FACTORY_ID"/>
		<!-- 一般属性 -->
		<result property="fullName" column="FULL_NAME"/>
		<result property="factoryName" column="FACTORY_NAME"/>
		<result property="contactor" column="CONTACTOR"/>
		<result property="phone" column="PHONE"/>
		<result property="mobile" column="MOBILE"/>
		<result property="fax" column="FAX"/>
		<result property="cnote" column="CNOTE"/>
		<result property="inspector" column="INSPECTOR"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="state" column="STATE"/>
		
		<result property="createBy" column="CREATE_BY"/>
		<result property="createDept" column="CREATE_DEPT"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>
	
	<select id="find" parameterType="Map" resultMap="factoryRM">
		select * from factory_c
		where 1=1
		<if test="state != null"> and state=#{state}</if>
	</select>
	
	<select id="get" parameterType="String" resultMap="factoryRM">
		select * from factory_c
		where factory_id=#{id}
	</select>
	
	<update id="update" parameterType="com.swu.jk.domain.Factory">
		update factory_c
		<set>
			<if test="fullName != null">FULL_NAME=#{fullName, jdbcType=VARCHAR},</if>
			<if test="factoryName != null">FACTORY_NAME=#{factoryName, jdbcType=VARCHAR},</if>
			<if test="contactor != null">CONTACTOR=#{contactor, jdbcType=VARCHAR},</if>
			<if test="phone != null">PHONE=#{phone, jdbcType=VARCHAR},</if>
			<if test="mobile != null">MOBILE=#{mobile, jdbcType=VARCHAR},</if>
			<if test="fax != null">FAX=#{fax, jdbcType=VARCHAR},</if>
			<if test="cnote != null">CNOTE=#{cnote, jdbcType=VARCHAR},</if>
			<if test="inspector != null">INSPECTOR=#{inspector, jdbcType=VARCHAR},</if>
			<if test="orderNo != null">ORDER_NO=#{orderNo, jdbcType=INTEGER},</if>
			<if test="state != null">STATE=#{state, jdbcType=VARCHAR},</if>
		</set>
		where factory_id=#{id}
	</update>
	
	<insert id="insert" parameterType="com.swu.jk.domain.Factory">
		insert into factory_c 
			(FACTORY_ID,FULL_NAME,FACTORY_NAME,CONTACTOR,PHONE,MOBILE,FAX,CNOTE,INSPECTOR,
			ORDER_NO,STATE,CREATE_BY,CREATE_DEPT,CREATE_TIME)
		values
		(	#{id},
			#{fullName, jdbcType=VARCHAR},
			#{factoryName, jdbcType=VARCHAR},
			#{contactor, jdbcType=VARCHAR},
			#{phone, jdbcType=VARCHAR},
			#{mobile, jdbcType=VARCHAR},
			#{fax, jdbcType=VARCHAR},
			#{cnote, jdbcType=VARCHAR},
			#{inspector, jdbcType=VARCHAR},
			#{orderNo, jdbcType=INTEGER},
			#{state, jdbcType=VARCHAR},
			#{createBy, jdbcType=VARCHAR},
			#{createDept, jdbcType=VARCHAR},
			#{createTime, jdbcType=TIMESTAMP}
		)
	</insert>
	
	<delete id="deleteById" parameterType="String">
		delete from factory_c
		where factory_id=#{id}
	</delete>
	
	<!-- 删除多条（一维字符串数组） -->
	<delete id="delete" parameterType="String">
		delete from factory_c
		where factory_id in 
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<update id="updateState" parameterType="Map">
		update factory_c 
		set state=#{state}
		where factory_id in
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
</mapper>